body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
}
body .wrap {
  display: flex;
  align-items: center;
  width: 900px;
  height: 160px;
}
body .wrap .pacman {
  position: relative;
  width: 160px;
  height: 160px;
}
body .wrap .pacman:before, body .wrap .pacman:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border: 80px solid #ffd000;
  border-radius: 50%;
  border-right: 80px solid transparent;
  -webkit-animation: animate1 linear 0.5s infinite;
          animation: animate1 linear 0.5s infinite;
}
body .wrap .pacman:after {
  -webkit-animation: animate2 linear 0.5s infinite;
          animation: animate2 linear 0.5s infinite;
}
body .wrap .pacman .dot:nth-child(-n+8) {
  background-color: azure;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -700px;
  opacity: 0;
}
body .wrap .pacman .dot:nth-child(-n+8):nth-child(1) {
  -webkit-animation: ball 3s 0s infinite linear;
          animation: ball 3s 0s infinite linear;
}
body .wrap .pacman .dot:nth-child(-n+8):nth-child(2) {
  -webkit-animation: ball 3s 0.5s infinite linear;
          animation: ball 3s 0.5s infinite linear;
}
body .wrap .pacman .dot:nth-child(-n+8):nth-child(3) {
  -webkit-animation: ball 3s 1s infinite linear;
          animation: ball 3s 1s infinite linear;
}
body .wrap .pacman .dot:nth-child(-n+8):nth-child(4) {
  -webkit-animation: ball 3s 1.5s infinite linear;
          animation: ball 3s 1.5s infinite linear;
}
body .wrap .pacman .dot:nth-child(-n+8):nth-child(5) {
  -webkit-animation: ball 3s 2s infinite linear;
          animation: ball 3s 2s infinite linear;
}
body .wrap .pacman .dot:nth-child(-n+8):nth-child(6) {
  -webkit-animation: ball 3s 2.5s infinite linear;
          animation: ball 3s 2.5s infinite linear;
}
body .wrap .pacman .dot:nth-child(-n+8):nth-child(7) {
  -webkit-animation: ball 3s 3s infinite linear;
          animation: ball 3s 3s infinite linear;
}
body .wrap .pacman .dot:nth-child(-n+8):nth-child(8) {
  -webkit-animation: ball 3s 3.5s infinite linear;
          animation: ball 3s 3.5s infinite linear;
}

@-webkit-keyframes animate1 {
  0% {
    transform: rotate(270deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes animate1 {
  0% {
    transform: rotate(270deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@-webkit-keyframes animate2 {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@-webkit-keyframes ball {
  10%, 90% {
    opacity: 1;
  }
  100% {
    transform: translate(-750px, -50%);
  }
}
@keyframes ball {
  10%, 90% {
    opacity: 1;
  }
  100% {
    transform: translate(-750px, -50%);
  }
}/*# sourceMappingURL=style.css.map */